.cookie-container {
  --modal-height: 70px;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(var(--modal-height) + 30px);
  border: 0;
  z-index: 1000;
}

.cookie {
  border: 0;
  box-shadow: 0 0 5px 5px #000;
  width: 80vw;
  height: var(--modal-height);
  background: var(--qwik-dark-background);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

.btns {
  --importance: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: var(--modal-height);
  justify-content: space-evenly;
  align-items: center;
  width: 8vw;
  button {
    font-size: 0.8em;
    padding: 5px;
    margin: 3px;
    width: 100%;
    background: transparent;
    transition: all 500ms ease;
    outline: 1px solid var(--qwik-light-blue);
    box-shadow: 0 0 calc(10px * var(--importance)) var(--qwik-light-blue);
    color: color-mix(
      in srgb,
      color-mix(in srgb, var(--qwik-light-blue), var(--color) 70%) 60%,
      white
    );
  }
  button:hover {
    background: color-mix(in srgb, var(--color) 70%, var(--qwik-dark-blue));
    outline: transparent;
    box-shadow: var(--color);
    color: white;
  }
}

p {
  margin-left: 0.5rem;
}
