.main-title {
  //animation: color-change 10s infinite ease;
  background: linear-gradient(
    to right,
    hsl(var(--main-title-hue-left), 100%, 50%),
    hsl(var(--main-title-hue-right), 100%, 50%)
  );
  height: 4rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 20vh;
  span {
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  .main-title {
    height: 6rem;
  }
}

@keyframes color-change {
  0% {
    --color-1: #f00;
    --color-2: hsl(30, 100%, 50%);
    --main-title-hue-left: 0;
    --main-title-hue-right: 30;
  }
  33% {
    --color-1: #0f0;
    --color-2: hsl(150, 100%, 50%);
    --main-title-hue-left: 120;
    --main-title-hue-right: 150;
  }
  66% {
    --color-1: #00f;
    --color-2: hsl(290, 100%, 50%);
    --main-title-hue-left: 260;
    --main-title-hue-right: 290;
  }
  100% {
    --color-1: hsl(0, 100%, 50%);
    --color-2: hsla(30, 100%, 50%, 1);
    --main-title-hue-left: 357;
    --main-title-hue-right: 30;
  }
}

.money-transferred {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
  }
  span {
    color: #501050;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bolder;
  }
}
