.wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--footer-height) - var(--header-height));
  backdrop-filter: blur(var(--backdrop-blur));
  z-index: 50;
}

.form {
  border: 0.1rem solid black;
  padding: 2rem;
  display: grid;
  place-content: center;
  z-index: 100;
}